@import "../../App.scss";

.class-room-layout {
    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 10px;
        z-index: 99;

        .logo-section {
            img {
                height: 30px;
            }
        }

        .form-control {
            font-size: 15px;
            font-family: Barlow-Regular;
            background: #dfdfdf85;
            border-radius: 5px;
            height: 34px;
            border: 0;
        }

        .btn {
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            padding-left: 20px;
            padding-right: 20px;
            background: $primary-color;
            font-family: primary-font;
            border-radius: 5px;
        }

        @media (min-width: 992px) {
            padding: 15px;
        }
    }
}
