@import "../../App.scss";

.class-room-layout {
    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 9;

        .logo-section {
            padding: 10px;
            text-align: center;

            img {
                height: 30px;
            }

            @media (min-width: 992px) {
                width: 250px;
                padding: 15px;
                background: #98716815;
            }
        }

        .desktop-search-container {
            padding: 10px;

            @media (min-width: 992px) {
                padding: 15px;
            }
        }

        .mobile-search {
            padding: 10px;
            padding-top: 0;
        }

        .btn-section {
            padding: 10px;
            text-align: right;

            .btn {
                color: #fff;
                font-size: 15px;
                line-height: 20px;
                padding-left: 20px;
                padding-right: 20px;
                background: $primary-color;
                font-family: primary-font;
                border-radius: 5px;
            }

            @media (min-width: 992px) {
                width: 300px;
                padding: 15px;
                background: #98716815;
            }
        }

        .toggle-btn {
            padding: 5px !important;
            background: #dfdfdf;
        }
    }

    // left Menu
    .left-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background: #98716815;
        z-index: 8;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;

        .links-menu {
            width: 100%;
            background: #fff;

            .title {
                h6 {
                    font-weight: 900;
                    font-family: secondary-font;
                }
            }

            .btn {
                width: 100%;
                color: #000;
                text-align: left;
                margin-bottom: 6px;
                font-size: 15px;
                border-radius: 6px;
            }

            .btn:hover {
                color: #fff;
                background: $primary-color;
            }

            .isActive {
                color: #fff;
                background: $primary-color;
            }

            @media (min-width: 992px) {
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
            }
        }

        @media (max-width: 992px) {
            z-index: 99;
            background: #fff;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
            left: -100%;
            transition: 0.4s all;

            .open-menu {
                left: 0;
            }
        }

        @media (min-width: 992px) {
            padding-top: 65px;
        }
    }

    // Profile
    .profile {
        .profile-img-box {
          border-top-style: dotted;
          border-bottom-style: dashed;
          border-left-style: solid;
          border-right-style: double;
          border-top-color: #16DB93;
          border-bottom-color: #A4036F;
          border-left-color: #EFEA5A;
          border-right-color: #FE5E41;
          width: 100px;
          height: 100px;
          overflow: hidden;
          margin: auto;

        }

      p {
        font-size: 15px;
        font-family: Barlow-Medium;
      }

      .user-profile-status {
        color: green;
        font-weight: bold;
      }

      .user-profile-name {
        font-weight: bold;
        color: $primary-color;
      }

      .label {
        color: $primary-color;
      }

      .point-progress-bar {
        text-shadow: 1px 3px 0 #ffffff, 1px 13px 5px #aba8a8;
        margin: 15px;
      }

      .achieve-more-point-but {

        margin: 10px;
      }

      .achieve-more-point-heading {

        color: #FFFFFF;
        background: #FFFFFF;
        text-shadow: 1px 3px 0 #ffffff, 1px 10px 5px #d3eaaf;
        color: #20942f;
        background: #FFFFFF;


      }

    }

    // Right Menu
    .right-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background: #98716815;
        z-index: 8;
        padding-top: 75px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 80px;
        overflow-y: auto;

        // Favourite Courses
        .favourite-courses, .my-courses {
            a:hover {
                text-decoration: none;
            }

            @media (min-width: 992px) {
                .title {
                    h6 {
                        font-weight: 900;
                        font-family: secondary-font;
                    }
                }

                .course-card {
                    min-height: 120px;
                    width: 100%;
                    background: none;
                    margin-bottom: 10px;
                    border-radius: 0;

                    .card-body {
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        border-radius: 0px;

                        img {
                            height: 80px;
                        }

                        h6 {
                            color: #000;
                            font-family: Barlow-Medium;
                        }

                        p {
                            margin-bottom: 0;
                            margin-top: 0px;
                            font-size: 15px;
                            font-family: secondary-font;
                            font-family: Barlow-Medium;
                            color: $primary-color;
                        }

                        .btn {
                            color: #000;
                            background: #fff;
                            font-size: 12px;
                            padding-top: 1px;
                            padding-bottom: 3px;
                            padding-left: 12px;
                            padding-right: 12px;
                            border: 1px solid #28a7465e;
                            font-family: Barlow-Medium;
                            transition: 0.4s all;
                        }

                        .btn:hover {
                            color: #000;
                            background: #28a7469a;
                        }
                    }
                }

                .my-course {
                    .card-body {
                        .orientation-box {
                            width: 100%;
                            height: 30px;
                            padding-top: 3px;
                            margin-top: 8px;
                            background: $primary-color;
                            position: relative;
                            overflow: hidden;
                            border-radius: 3px;

                            p {
                                margin-bottom: 0;
                                margin-top: 0px;
                                font-size: 15px;
                                font-family: secondary-font;
                                font-family: Barlow-Medium;
                                color: #fff;
                            }

                            .overlay {
                                position: absolute;
                                bottom: -100%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: #fff;
                                transition: 0.4s all;
                                border-bottom: 1px solid #dfdfdf;

                                p {
                                    margin-top: 2px;
                                    color: $primary-color;
                                }
                            }
                        }

                        .btn {
                            color: #000;
                            background: #fff;
                            font-size: 12px;
                            padding: 6px;
                            border: 1px solid #28a7465e;
                            font-family: Barlow-Medium;
                            transition: 0.4s all;
                            width: 100%;
                            margin-top: 10px;
                        }

                        .btn:hover {
                            color: #000;
                            background: #28a7469a;
                        }
                    }

                    .card-body:hover .overlay {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

// Master
.account-master {
    .main {
        padding-top: 100px;

        @media (min-width: 992px) {
            padding-top: 65px;
            padding-left: 250px;
            padding-right: 300px;
        }
    }
}

// Courses Show
.courses-show {
    .empty-box {
        .empty-img {
            margin-top: 100px;
            width: 250px;
        }

        h5 {
            color: $primary-color;
            font-family: Barlow-Medium;
        }
    }

    .title {
        h4 {
            font-family: primary-font;
            font-family: Barlow-Bold;
            color: $primary-color;
        }
    }

    .card {
        background: #fff;
        width: 50%;
        float: left;
        padding: 10px;
        border: 0;

        .box {
            border-radius: 0;
            transition: 0.3s all;

            .card-header {
                border: 0;
                padding: 0;
                border-radius: 0;
                background: #dfdfdf85;
                height: 130px;
                overflow: hidden;
                position: relative;

                img {
                    min-width: 100%;
                    min-height: 100%;
                }

                @media (max-width: 576px) {
                    height: 100px;
                }
            }

            .card-body {
                position: relative;

                .text {
                    p {
                        font-size: 15px;
                        margin-top: 5px;
                        margin-bottom: 20px;
                    }

                    h6 {
                        font-size: 16px;
                        font-family: secondary-font;
                        font-family: Barlow-Bold;

                        span {
                            margin-left: 5px;
                            color: $primary-color;
                        }
                    }
                }

                .overlay {
                    position: absolute;
                    top: -15px;
                    left: 10px;
                    width: 90%;
                    height: 30px;
                    background: #fff;
                    border-bottom: 1px solid #e2e2e2;
                    overflow: hidden;

                    p {
                        font-size: 14px;
                        color: #555;
                        padding-left: 5px;
                        padding-top: 4px;
                        text-transform: capitalize;
                        font-family: Barlow-Regular;
                    }

                    .enroll {
                        position: absolute;
                        left: 0%;
                        width: 100%;
                        height: 100%;
                        bottom: -100%;
                        background: $primary-color;
                        transition: 0.5s;

                        p {
                            color: #fff;
                        }
                    }
                }
            }
        }

        @media (max-width: 400px) {
            width: 100%;
        }

        @media (min-width: 400px) {
            width: 50%;
        }

        @media (min-width: 576px) {
            padding: 15px;
        }

        @media (min-width: 600px) {
            width: 33.33%;
        }

        @media (min-width: 900px) {
            width: 25%;
        }

        @media (min-width: 992px) {
            width: 50%;
        }

        @media (min-width: 1280px) {
            width: 33.33%;
        }

        @media (min-width: 1450px) {
            width: 25%;
            padding: 20px;
        }
    }

    a:hover .box {
        z-index: 9;
        -webkit-box-shadow: -1px 1px 24px -3px rgba(0, 0, 0, 0.39);
        box-shadow: -1px 1px 24px -3px rgba(0, 0, 0, 0.39);
    }

    a:hover {
        .box {
            .card-body {
                .overlay {
                    .enroll {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

// Single Course Info
.single-course {
    .title-bar {
        .btn {
            color: #555;
            padding: 5px;
            background: rgba(85, 85, 85, 0.075);
        }

        .btn:hover {
            background: rgba(85, 85, 85, 0.226);
        }

        h5 {
            color: $primary-color;
        }
    }

    .content {
        h5 {
            font-family: Barlow-Bold;
        }

        small {
            font-family: Barlow-Regular;
            color: $primary-color;
        }

        .free-enroll {
            color: $primary-color;
        }

        .btn {
            color: #fff;
            font-size: 16px;
            font-family: Barlow-Medium;
            background: $primary-color;
            padding: 6px 20px;
            border-radius: 5px;
        }

        .schedule {
            h6 {
                font-family: Barlow-Bold;
                color: $primary-color;
                margin-bottom: 7px;
            }

            p {
                font-size: 15px;
                line-height: 1.5rem;
                font-family: Barlow-Regular;
            }
        }

        p {
            color: #000;
            font-size: 16px;
            line-height: 2rem;
            margin-bottom: 30px;
        }

        // FAQ
        .faqs {
            .card {
                border: 0;
                border-radius: 0;

                .card-header {
                    border: 0;
                    padding: 10px;
                    border-radius: 0;
                    background: #e2e2e269;
                    border-bottom: 1px solid #fff;
                    cursor: pointer;

                    h5 {
                        font-family: primary-font;
                        color: $primary-color;
                    }
                }

                .card-body {
                    padding: 10px;

                    p {
                        font-size: 15px;
                        margin-bottom: 0;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}
