@import "../../App.scss";

.team {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;

        h1 {
            color: $primary-color;
            font-family: Barlow-Bold;

            @media (min-width: 576px) {
                font-size: 50px;
            }
        }
    }

    .container {
        .team-column {
            padding: 20px;

            .team-card {
                border-radius: 16px;
                overflow: hidden;
                border: 0;
                transition: 0.3s;
                text-align: center;
                border: 1px solid #dfdfdf38;
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

                .card-body {
                    padding-top: 35px;
                    padding-bottom: 35px;

                    .img-box {
                        width: 130px;
                        height: 130px;
                        overflow: hidden;
                        margin: auto;

                        img {
                            min-width: 100%;
                            min-height: 100%;
                        }
                    }

                    .content {
                        h5 {
                            font-family: Barlow-Medium;
                        }

                        p {
                            margin-bottom: 0;
                            font-family: Barlow-Regular;
                        }

                        .website {
                            color: $primary-color;
                            font-family: Barlow-Medium;
                        }
                    }
                }
            }

            .team-card:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            }

            .cheif-box {
                .cheif-card {
                    float: left;
                    border: 0 !important;
                    box-shadow: none !important;
                    padding: 20px;

                    .card-body {
                        border-radius: 16px;
                        overflow: hidden;
                        border: 0;
                        transition: 0.3s;
                        text-align: center;
                        border: 1px solid #dfdfdf38;
                        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                    }

                    @media (max-width: 576px) {
                        width: 100%;
                    }

                    @media (min-width: 576px) {
                        width: 50%;
                    }

                    @media (min-width: 992px) {
                        width: 300px;
                    }
                }

                @media (min-width: 992px) {
                    width: 650px;
                    margin: auto;
                }
            }

            .team-box {
                .team-card {
                    float: left;
                    border: 0 !important;
                    box-shadow: none !important;
                    padding: 10px;

                    .card-body {
                        border-radius: 16px;
                        overflow: hidden;
                        border: 0;
                        transition: 0.3s;
                        text-align: center;
                        border: 1px solid #dfdfdf38;
                        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

                        @media (min-width: 768px) {
                            min-height: 325px;
                        }

                        @media (min-width: 992px) {
                            min-height: 300px;
                        }
                    }

                    @media (max-width: 576px) {
                        width: 100%;
                    }

                    @media (min-width: 576px) {
                        width: 50%;
                    }

                    @media (min-width: 768px) {
                        width: 33.33%;
                    }

                    @media (min-width: 992px) {
                        width: 300px;
                    }
                }

                @media (min-width: 992px) {
                    width: 950px;
                    margin: auto;
                }
            }

            .cheif-card:hover {
                box-shadow: none !important;
            }

            .cheif-card:hover .card-body {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            }
        }

        .load-more {
            color: $primary-color;
            font-family: Barlow-Bold;
            text-decoration: underline;
        }
    }
}
