@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

$primary-color: #fc5632;

@font-face {
    font-family: primary-font;
    src: url("./assets/font/BenSenHandwriting.ttf");
}

@font-face {
    font-family: secondary-font;
    src: url("./assets/font/tohaborno.ttf");
}

@font-face {
    font-family: english-font;
    src: url("./assets/font/english.ttf");
}

@font-face {
    font-family: Barlow-Regular;
    src: url("./assets/font/Barlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: Barlow-Medium;
    src: url("./assets/font/Barlow/Barlow-Medium.ttf");
}

@font-face {
    font-family: Barlow-Bold;
    src: url("./assets/font/Barlow/Barlow-Bold.ttf");
}

.App {
    overflow-x: hidden;
}

.four_o_four {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;

    img {
        width: 250px;

        @media (min-width: 992px) {
            width: 400px;
        }
    }

    h3 {
        color: $primary-color;
        font-family: Barlow-Bold;
    }
}

/* Flex Center Box */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}
