@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

$primary-color: #fc5632;

@font-face {
    font-family: primary-font;
    src: url("./assets/font/BenSenHandwriting.ttf");
}

@font-face {
    font-family: secondary-font;
    src: url("./assets/font/tohaborno.ttf");
}

@font-face {
    font-family: english-font;
    src: url("./assets/font/english.ttf");
}

@font-face {
    font-family: Barlow-Regular;
    src: url("./assets/font/Barlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: Barlow-Medium;
    src: url("./assets/font/Barlow/Barlow-Medium.ttf");
}

@font-face {
    font-family: Barlow-Bold;
    src: url("./assets/font/Barlow/Barlow-Bold.ttf");
}

.four_o_four {
    text-align: center;

    h1 {
        color: salmon;
    }
}

.App {
    overflow-x: hidden;
}
